@(resetForm:Form[(String, String)], mailToken: String)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import helper._
@import com.yetu.oauth2provider.utils.Config
@implicitFieldConstructor = @{ FieldConstructor(com.yetu.oauth2provider.views.html.yetuAuthentication.inputFieldConstructor.f) }

@com.yetu.oauth2provider.views.html.yetuAuthentication.main( Messages("securesocial.password.title") ) {
    <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("stylesheets/normal_passwordchange.css")">
    <div class="page-header">
        <h1 name="pwreset">@Messages("securesocial.password.title")</h1>
    </div>

    <div class="clear">
        <p>@Messages("securesocial.passwordReset.subtitle")</p>
    </div>

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @Messages(msg)
        </div>
    }

    <form action="@env.routes.handleResetPasswordUrl(mailToken)"
          class="form-horizontal"
          autocomplete="off"
          method="POST"
    >
        <fieldset>
            @CSRF.formField

            <span class="password__info password__info-reset">@Messages("securesocial.signup.invalidPassword", Config.minimumPasswordLength)</span>

            @helper.inputPassword(
            resetForm("password.password1"),
                '_label -> Messages("securesocial.signup.password1"),
                'class -> "normal__input",
                'placeholder -> Messages("securesocial.signup.password1")
            )

            @helper.inputPassword(
            resetForm("password.password2"),
                '_label -> Messages("securesocial.signup.password2"),
                '_error -> resetForm.error("password"),
                'class -> "normal__input",
                'placeholder -> Messages("securesocial.signup.password2")
            )

            <div class="form-actions">
                <button type="submit" class="button normal__button">@Messages("securesocial.password.reset")</button>
            </div>

        </fieldset>
    </form>
}


