@()(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(com.yetu.oauth2provider.views.html.yetuAuthentication.inputFieldConstructor.f) }

@com.yetu.oauth2provider.views.html.yetuAuthentication.main( Messages("securesocial.signup.success.title") ) {
    <div class="page-header">
        <h1 name="signupsuccess">@Messages("securesocial.signup.success.title")</h1>
    </div>
    <div class="clearfix">
        <p>@Messages("securesocial.signup.signUpDone")</p>
    </div>
}