@(startForm:Form[securesocial.controllers.RegistrationInfo])(implicit request: RequestHeader, lang: Lang, env:
securesocial.core
.RuntimeEnvironment[_])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(com.yetu.oauth2provider.views.html.yetuAuthentication.inputFieldConstructor.f) }

@com.yetu.oauth2provider.views.html.yetuAuthentication.main( Messages("securesocial.signup.title") ) {
    <div class="page-header">
        <h1 name="signup">@Messages("securesocial.signup.title")</h1>
    </div>

    @request.flash.get("error").map { msg =>
    <div class="alert alert-error">
        @Messages(msg)
    </div>
    }

    <form action="@env.routes.handleStartSignUpUrl"
          class="form-horizontal registrationForm"
          autocomplete="off" method="post"
    >
        <fieldset>
            @CSRF.formField

            @helper.inputText(
                startForm("firstName"),
                '_label -> Messages("securesocial.signup.firstName"),
                'class -> "input-xlarge",
                '_error -> startForm("firstName").error.map(_.withMessage(Messages("setup.signup.error.required")))
            )

            @helper.inputText(
                startForm("lastName"),
                '_label -> Messages("securesocial.signup.lastName"),
                'class -> "input-xlarge",
                '_error -> startForm("lastName").error.map(_.withMessage(Messages("setup.signup.error.required")))
            )

            @helper.inputText(
                startForm("email"),
                '_label -> Messages("securesocial.signup.email1"),
                'class -> "input-xlarge",
                '_error -> startForm("email").error.map(_.withMessage(Messages("setup.signup.error.required")))
            )

            @helper.inputPassword(
                startForm("password.password1"),
                '_label -> Messages("securesocial.signup.password1"),
                'class -> "input-xlarge",
                '_error -> startForm("password.password1").error.map(_.withMessage(Messages("setup.signup.error.password")))
            )

            @helper.inputPassword(
                startForm("password.password2"),
                '_label -> Messages("securesocial.signup.password2"),
                '_error -> startForm("password.password2").error.map(_.withMessage(Messages("setup.signup.error.required")))
            )

            @helper.inputCheckboxGroup(
                startForm("getinfo"),
                options = Seq("getInfo" -> Messages("setup.signup.getinfo")),
                '_label -> "getinfo"
            )

            @helper.inputCheckboxGroup(
                startForm("agreement"),
                options = Seq("agreement" -> "agreement"),
                '_label -> "agreements",
                '_error -> startForm("agreement").error.map(_.withMessage(Messages("securesocial.signup.error.invalidTermsAndConditions")))
            )


            <div class="form-actions">
                <button type="submit" class="btn btn-primary">@Messages("securesocial.signup" +
                        ".createAccount")
                </button>
                <a class="btn" href="@env.routes.loginPageUrl">@Messages("securesocial.signup.cancel")</a>
            </div>

            <script>
            document.body.onload = function(){
            document.getElementById("agreement" ).childNodes[3].innerHTML =
                '<span>'+'@Messages("setup.signup.terms1")'+'</span>'
                +'<a target="_blank" class="left__link" href="">'+' @Html(Messages("setup.signup.termslink1"))'+'</a>'
                +'<span>'+' @Messages("setup.signup.terms2")'+'</span>'
                +'<a target="_blank" class="left__link" href="">'+' @Html(Messages("setup.signup.termslink2"))'+'</a>'
                +'<span>'+' @Messages("setup.signup.terms3")'+'</span>'
                +'<a target="_blank" class="left__link" href="">'+' @Html(Messages("setup.signup.termslink3"))'+'</a>'
                +'<span>'+' @Html(Messages("setup.signup.terms4"))'+'</span>';
            }
            </script>

        </fieldset>
    </form>
}