@(startForm:Form[securesocial.controllers.RegistrationInfo])(implicit request: RequestHeader, lang: Lang, env:
securesocial.core
.RuntimeEnvironment[_])
@import helper._
@import com.yetu.oauth2provider.utils.Config.minimumPasswordLength
@implicitFieldConstructor = @{ FieldConstructor(com.yetu.oauth2provider.views.html.yetuAuthentication.inputFieldConstructor.f) }

@com.yetu.oauth2provider.views.html.yetuAuthentication.main( Messages("securesocial.signup.title") ) {
    <div class="page-header">
        <h1 name="signup">@Messages("securesocial.signup.title")</h1>
    </div>

    @request.flash.get("error").map { msg =>
    <div class="alert alert-error">
        @Messages(msg)
    </div>
    }

    <form action="@env.routes.handleStartSignUpUrl"
          class="form-horizontal registrationForm"
          autocomplete="off" method="post"
    >
        <fieldset>
            @CSRF.formField

            @helper.inputText(
                startForm("firstName"),
                '_label -> Messages("securesocial.signup.firstName"),
                'class -> "input-xlarge",
                'id -> "firstNameID",
                '_help -> Messages("setup.signup.help.firstName"),
                '_error -> startForm.error("firstName")
            )

            @helper.inputText(
                startForm("lastName"),
                '_label -> Messages("securesocial.signup.lastName"),
                'class -> "input-xlarge",
                'id -> "lastNameID",
                '_help -> Messages("setup.signup.help.lastName"),
                '_error -> startForm.error("lastName")
            )

            @helper.inputText(
                startForm("email"),
                '_label -> Messages("securesocial.signup.email1"),
                'class -> "input-xlarge",
                '_id -> "emailID",
                '_help -> Messages("setup.signup.email"),
                '_error -> startForm.error("email")

            )

            @helper.inputPassword(
                startForm("password.password1"),
                '_label -> Messages("securesocial.signup.password1"),
                'class -> "input-xlarge",
                'id -> "password1ID",
                '_help -> Messages("securesocial.signup.invalidPassword", minimumPasswordLength),
                '_error -> startForm.error("password")
            )

            @helper.inputPassword(
                startForm("password.password2"),
                '_label -> Messages("securesocial.signup.password2"),
                'id -> "password2ID",
                '_help -> Messages("securesocial.signup.invalidPassword", minimumPasswordLength),
                '_error -> startForm.error("password")
            )

            @helper.checkbox(
                startForm("getinfo"),
                '_label -> "getinfo",
                'id -> "getinfoID",
                '_error -> startForm.error("getinfo")
            )

            @helper.checkbox(
                startForm("agreement"),
                '_label -> "agreementLabel",
                '_id -> "agreementCheckBoxID",
                '_error -> startForm.error("agreement")
            )

            <div class="form-actions">
                <button id="submitButton" type="submit" class="btn btn-primary">@Messages("securesocial.signup" +
                        ".createAccount")
                </button>
                <a class="btn" href="@env.routes.loginPageUrl">@Messages("securesocial.signup.cancel")</a>
            </div>
        </fieldset>
    </form>
}