@(user: securesocial.core.BasicProfile)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])

<html>
    <body>
        <p>Hello @user.firstName,</p>

        <p>You tried to register an account with yetu.me but there is already an account registered with your e-mail address.<br>  
       If you don't remember your password please follow 
            <a href="@env.routes.startResetPasswordUrl">this link</a> to reset it.</p>
   <p>Best regards, your yetu team </p>
    </body>
</html>