@(user: securesocial.core.BasicProfile, mailToken: String)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import securesocial.core.IdentityProvider
<html>
<body>
<p>Hello @user.firstName,</p>

<p>Someone requested to reset your yetu.me password.
<p>   <a href="@com.yetu.oauth2provider.controllers.authentication.routes.PasswordReset.resetPassword(mailToken).absoluteURL(IdentityProvider.sslEnabled)">
    Please follow this link to reset your yetu.me password.</a>
</p>
   <p>Best regards, your yetu team
</p>    
</body>
</html>