@(mailToken: String, confirmationUrl: Option[String] = None)(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
<html>
<body>
<p>Welcome to yetu.me!</p>
<p> You just took the first step to discover a new world at home with yetu.me.</p>
<p>
    <a href="@confirmationUrl.getOrElse(env.routes.signUpUrl(mailToken))">Please follow this link to confirm and complete your registration.</a>
</p>
<p>After activating your account you will be able to start the discovery of a new world at home with yetu.me.
   <p>Best regards, your yetu team
</p> 
</body>
</html>