@(elements: views.html.helper.FieldElements)

<div class="control-group @elements.args.get('_class) @if(elements.hasErrors) {error}" id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
    <label class="control-label" for="@elements.id">@elements.label(elements.lang)</label>
    <div class="controls">
        @elements.input
        @if( elements.hasErrors ) {
            <span class="help-inline">@elements.errors(elements.lang).mkString(", ")</span>
            <span class="help-icon" onmouseover="hoverHelp(this)" onmouseout="blurHelp(this)">?</span>
        } else {
            <span class="help-inline display-none">@elements.infos(elements.lang).mkString(", ")</span>
            <span class="help-icon" onmouseover="hoverHelp(this)" onmouseout="blurHelp(this)">?</span>
        }
        @if(elements.id=="firstName" || elements.id=="lastName" || elements.id=="email" ){
            <span class="help-block">
                This information help you to make your yetu experience more personalized.
            </span>
        }else {@if(elements.id=="password_password1"){
            <span class="help-block">
                The password has to have at least 8 characters containing minimum one uppercase and lowercase character and a number.
            </span>
            }
        }
    </div>

</div>
