@(title: String)(content: Html)(implicit lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import com.yetu.oauth2provider.views
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("stylesheets/base.css")">
    <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("stylesheets/normal.css")">
    <link rel="shortcut icon" type="image/png" href="@env.routes.faviconPath">
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    @views.html.googleanalytics()
</head>
<body>
    <div class="content">
        <div class="box">
            <img class="logo" src="@controllers.routes.Assets.versioned("images/yetu_logo.svg")"/>
            @content
        </div>
    </div>

    @views.html.footer(isSetup = false)

    <script src="@controllers.routes.Assets.versioned("javascripts/form-validator.js")"></script>
    <script>
        var formValidator = new FormValidator();
    </script>
</body>
</html>
