@(title: String)(content: Html)(implicit lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import com.yetu.oauth2provider.utils.Config

<!DOCTYPE html>

<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("stylesheets/main.css")">
    <link rel="shortcut icon" type="image/png" href="@env.routes.faviconPath">
    <!-- we don't need jquery, do we?
    <script src="@env.routes.jqueryPath" type="text/javascript"></script>
    -->
    @env.routes.customCssPath.map { customPath =>
    <link rel="stylesheet" media="screen" href="@customPath">
    }

    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    @if(Config.googleAnalytics.enabled) {
    <script>
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

                ga('create', '@(Config.googleAnalytics.trackingId)', 'auto');
                ga('set', 'anonymizeIp', true);
                ga('send', 'pageview');
            </script>
    }
</head>
<body>


<div class="container" style="padding-top:30px">
    @content
</div>
<div class="footer">
    <a href="@Messages("yetu.privacy.policy.link")" target="_blank" >@Messages("yetu.privacy.policy.name")</a> &nbsp;&nbsp;&nbsp;
    <a href="@Messages("yetu.imprint.link")"  target="_blank" >@Messages("yetu.imprint.name")</a>
    <img class="logo" src="@controllers.routes.Assets.versioned("images/yetulogo.svg")"/>
</div>

</body>
</html>
