@(passwordChangeForm:Form[securesocial.controllers.ChangeInfo])(implicit request: RequestHeader, lang: Lang, env: securesocial.core.RuntimeEnvironment[_])
@import securesocial.core.IdentityProvider
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(com.yetu.oauth2provider.views.html.yetuAuthentication.inputFieldConstructor.f) }

@com.yetu.oauth2provider.views.html.yetuAuthentication.main( Messages("securesocial.passwordChange.title") ) {
    <div class="page-header">
        <h1>@Messages("securesocial.passwordChange.title")</h1>
    </div>

    <div class="clear">
        <p>@Messages("securesocial.passwordChange.subtitle")</p>
    </div>

    @request.flash.get("error").map { msg =>
        <div class="alert alert-error">
            @msg
        </div>
    }

    @if( request.flash.get("success").isDefined ) {
        <div class="alert alert-info">
            @request.flash.get("success").get
        </div>

        <div class="form-actions">
            <a class="btn" href="@securesocial.controllers.ProviderControllerHelper.landingUrl">@Messages("securesocial.passwordChange.okButton")</a>
        </div>
    } else {
        <form action="@env.routes.passwordChangeUrl)"
              class="form-horizontal"
              autocomplete= "off"
              method="POST"
        >
            <fieldset>
                @CSRF.formField
                @helper.inputPassword(
                    passwordChangeForm("currentPassword"),
                    '_label -> Messages("securesocial.passwordChange.currentPassword"),
                    'class -> "normal__input",
                    'placeholder -> Messages("securesocial.passwordChange.currentPassword")
                )

                @helper.inputPassword(
                    passwordChangeForm("newPassword.password1"),
                    '_label -> Messages("securesocial.passwordChange.newPassword1"),
                    'class -> "normal__input",
                    'placeholder -> Messages("securesocial.passwordChange.newPassword1")
                )

                @helper.inputPassword(
                    passwordChangeForm("newPassword.password2"),
                    '_label -> Messages("securesocial.passwordChange.newPassword2"),
                    '_error -> passwordChangeForm.error("newPassword"),
                    'class -> "normal__input",
                    'placeholder -> Messages("securesocial.passwordChange.newPassword2")
                )
                <a class="password__cancel" href="@securesocial.controllers.ProviderControllerHelper.landingUrl">@Messages("securesocial.signup.cancel")</a>
                <div class="form-actions">
                    <button type="submit" class="button normal__button">@Messages("securesocial.passwordChange.changeButton")</button>
                </div>
            </fieldset>
        </form>
     }
}