.radio-btn, .label-register{
	line-height: 32px;
	vertical-align: middle;
}
.radio-btn{
	margin-right: 5px;
}
.content{
    margin-top: 40px;
    width: 90%;
    background: #F2F2F2;
}
.left, .right{
    padding-top: 20px;
    padding-bottom: 20px;
}
.left{
    width: 45%;
    padding: 5% 0 5% 5%;
}
.right{
    padding: 5%;
    margin-left: 50%;
    width: 40%;
    height: 100%;
}

.left__formcontainer{
    border-right: dashed 1px #949494;
}
.left__hint{
	float:right;
	margin-right: 10%;
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 10px;
}
.left__terms-input{
	margin-left: 32%;
}
.left__terms-label{
	font-size: 0.9em;
}
.left__label{
	float:left;
	display:block;
	line-height: 29px;
    vertical-align: middle;
    text-align: right;
}
.left__input{
    float: right;
    margin-right: 10%;
    margin-bottom: 10px;
	width: 55%;
	display:block;
	height: 15px;
	padding: 5px;
    font-size: 1em;
    font-family: source_sans_prolight, 'Helvetica Neue', Arial;
}

.buttoncontainer{
    padding: 5% 45%;
    background: #FFFFFF;
}
.buttoncontainer__next-button{
    width: 100%;
    display: block;
    text-align: center;
}

