.radio-btn, .label-register{
	line-height: 32px;
	vertical-align: middle;
}
.radio-btn{
	margin-right: 5px;
}
.content{
    margin-top: 0;
    width: 100%;
    padding-bottom: 10px;
}
.content > .steps {
    padding-bottom: 40px;
}
.content__main{
    width: 80%;
    box-shadow: 1px 1px 5px #666;
    margin: 20px auto;
    background: white;
}
.left{
    width: 40%;
    padding-right: 5%;
}
.right{
    margin-left: 50%;
    width: 40%;
    height: 100%;
}

.left__form{
    border-right: solid 1px #666;
}
.left__fieldset{
    border: none;
}
.left__hint{
	float:right;
	margin-right: 10%;
	font-size: 0.8em;
	font-style: italic;
	margin-bottom: 10px;
}
.left__terms-input{
	margin-left: 32%;
}
.left__terms-label{
	font-size: 0.9em;
}
.left__label{
	float:left;
	display:block;
	line-height: 29px;
    vertical-align: middle;
    text-align: right;
}
.left__input{
    float: right;
    margin-right: 10%;
    margin-bottom: 10px;
	width: 55%;
	display:block;
	height: 15px;
	padding: 5px;
    font-size: 1em;
    font-family: source_sans_prolight, 'Helvetica Neue', Arial;
}
.left__error{
    display:none;
    float: right;
    margin-right: 10%;
    margin-bottom: 10px;
    width: 57%;
    font-size: 0.8em;
    color: red;
}

.buttoncontainer{
    padding: 5% 45%;
    background: #FFFFFF;
}
.buttoncontainer__next-button{
    width: 100%;
    display: block;
    text-align: center;
}

