
.steps{
    width: 999px;
    margin: 0 auto;
    height: 50px;
}

.steplist{
    list-style-type: none;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.step{
    background-repeat: no-repeat;
    height: 30px;
    width: auto;
    background-size: 333px 31px;
}

.step.step_one{
    background-image: url("../images/progress_fields-01.svg");
}

.step.step_two{
    background-image: url("../images/progress_fields-02.svg");
    margin-left: 342px;
}

.step.step_three{
    background-image: url("../images/progress_fields-03.svg");
    margin-left: 342px;
}

.text{
    text-align: center;
    line-height: 30px;
    vertical-align: middle;
    font-size: 18px;
    float: left;
    width: 333px;
}
.step_one.active .text, .step_two.active .text.text__step_two, .step_three.active .text.text__step_three{
    color: #FFF;
}
.step_two .text.text__step_two, .step_three .text.text__step_three{
    color: #666;
}

.step.step_two.active{
    background-image: url("../images/progress_fields-04.svg");
}

.step.step_three.active{
    background-image: url("../images/progress_fields-05.svg");
}
