@import com.yetu.oauth2provider.views
<!DOCTYPE html>

<html>
    <head>
        <title>Confirm email error</title>
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("stylesheets/setup.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("stylesheets/confirmedmail.css")">
        <link rel="shortcut icon" type="image/png" href="">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    </head>
    <body>
    <div name="confirmedmailSetupError" class="content">
        <div class="content__main">
            The link is not valid anymore
        </div>
    </div>
    <div class="clear"></div>
        @views.html.setup.footer()
    </body>
</html>
