@import com.yetu.oauth2provider.views
<!DOCTYPE html>

<html>
	<head>
        <title>Successfully confirmed mail</title>
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("stylesheets/base.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("stylesheets/setup.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("stylesheets/steps.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("stylesheets/confirmedmail.css")">
        <link rel="shortcut icon" type="image/png" href="">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
        @views.html.googleanalytics()
	</head>
	<body>
		@views.html.setup.header(false)
		<div class="content">
            @views.html.setup.steps(2)
            <div class="full">
                <div class="full__container">
                    <img class="full__icon" src="@controllers.routes.Assets.versioned("images/verified-01.svg")"/>
                    <div class="full__content">
                        <h2 class="full__headline" name="confirmedmail">@Messages("setup.confirmedmail.headline")</h2>
                    </div>
                    <a id="next_button" href="/setup/download" class="button full__button">
                        @Html(Messages("setup.next"))
                    </a>
                </div>
            </div>
		</div>
		@views.html.footer(true)
	</body>
</html>
