@import com.yetu.oauth2provider.views
<!DOCTYPE html>

<html>
	<head>
        <title>Successfully confirmed mail</title>
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/setup.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/steps.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/confirmedmail.css")">
        <link rel="shortcut icon" type="image/png" href="">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	</head>
	<body>
		@views.html.setup.header(false)
		<div class="content">
            @views.html.setup.steps(2)
            <div class="full">
                <div class="full__container">
                    <img class="full__icon"/>
                    <div class="full__content">
                        <h2>@Messages("setup.confirmedmail.headline")</h2>
                        <p>@Messages("setup.confirmedmail.description")</p>
                    </div>
                </div>
                <a id="next_button" href="/setup/download" class="button full__button">
                    @Html(Messages("setup.next"))
                </a>
            </div>
		</div>
		@views.html.setup.footer()
	</body>
</html>
