@import com.yetu.oauth2provider.views
<!DOCTYPE html>

<html>
	<head>
        <title>Confirm e-mail</title>
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/setup.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/steps.css")">
        <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/confirmmail.css")">
        <link rel="shortcut icon" type="image/png" href="">
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	</head>
	<body>
		@views.html.setup.header(false)
		<div class="content">
            @views.html.setup.steps(2)
            <div class="left">
                <img class="left__img" href="" alt="E-Mail content"/>
            </div>
            <div class="right">
                <h2>@Messages("setup.confirmmail.headline")</h2>
                <p>@Messages("setup.confirmmail.description")</p>
            </div>
            <div class="clear"></div>
		</div>
		@views.html.setup.footer()
	</body>
</html>
