@(permissionsForm: Form[com.yetu.oauth2provider.models.Permissions], appName: String, client_id: String, scopes: String, redirect_uri: String, state: Option[String])(implicit request: RequestHeader, env: securesocial.core.RuntimeEnvironment[_])
@import helper._
@import securesocial.core.IdentityProvider

@implicitFieldConstructor = @{ FieldConstructor(com.yetu.oauth2provider.views.html.yetuAuthentication.inputFieldConstructor.f) }

@com.yetu.oauth2provider.views.html.yetuAuthentication.main(Messages("securesocial.permission.title")) {

    <link rel="stylesheet" media="screen" href="@controllers.routes.Assets.versioned("stylesheets/normal_permissions.css")">
    <div class="page-header">
        <h2>@appName</h2>
        <span>This app would like to:</span>
    </div>

    <div class="requestedPermissions">
        <ul>
            @for(scope <- scopes.split(' ')) {
                <li>@scope</li>
            }
        </ul>
    </div>

    <div class="termsInfo">
        @appName and yetu will use this information in accordance with their respective terms of service and privacy policies.
    </div>

    @helper.form(action = com.yetu.oauth2provider.controllers.routes.OAuth2Auth.permissionsPost) {

        <input type="hidden" name="scopes" value="@scopes">
        <input type="hidden" name="client_id" value="@client_id">
        <input type="hidden" name="redirect_uri" value="@redirect_uri">
        <input type="hidden" name="state" value="@state">

        <a class="permissions__cancel" href="@env.routes.loginPageUrl">@Messages("securesocial.permission.cancel")</a>

        <div class="form-actions">
            <button type="submit" class="button normal__button">@Messages("securesocial.permission.accept")</button>
        </div>
    }
}