<!DOCTYPE html>

<html>
	<head>
			<title>Download</title>
			<link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/setup.css")">
			<link rel="stylesheet" media="screen" href="@controllers.routes.Assets.at("stylesheets/registration.css")">
			<link rel="shortcut icon" type="image/png" href="">
			<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	</head>
	<body>
		<header>
			<h1>@Messages("setup.headline")</h1>
			<h2>@Messages("setup.subheadline")</h2>
		</header>
		<div class="steps">
			<ul class="steplist">
				<li class="step active">@Messages("setup.steps.one")</li>
				<li class="step">@Messages("setup.steps.two")</li>
				<li class="step">@Messages("setup.steps.three")</li>
			</ul>
		</div>
		<div class="content">
			<div id="leftContainer" class="left">
				<h2><input class="radio-btn" type="radio" name="registered" value="not" checked="true"/><label class="label-register">@Messages("setup.registration.register")</label></h2>
				<form action="/signup"
                    autocomplete= "off" method="POST" id="registration_form" class="left__formcontainer">
                    <span class="left__hint">@Messages("setup.registration.hint")</span>
                    <div class="clear"></div>
                    <label class="left__label">@Messages("setup.registration.firstname")</label>
                    <input class="left__input" type="text" name="firstname"/>
                    <span id="firstname_error" class="left__error">@Messages("setup.registration.error.firstname")
                    </span>
                    <div class="clear"></div>
                    <label class="left__label">@Messages("setup.registration.lastname")</label>
                    <span id="lastname_error" class="left__error">@Messages("setup.registration.error.lastname")
                    </span>
                    <input class="left__input" type="text" name="lastname"/>
                    <div class="clear"></div>
                    <label class="left__label">@Messages("setup.registration.email")</label>
                    <input class="left__input" type="text" name="email"
                        placeholder="@Messages("setup.registration.emailplaceholder")"/>
                    <span id="email_error" class="left__error">@Messages("setup.registration.error.email")</span>
                    <div class="clear"></div>
                    <label class="left__label">@Messages("setup.registration.password")</label>
                    <input type="password" class="left__input" type="text" name="password"
                    placeholder="@Messages("setup.registration.passwordplaceholder")"/>
                    <span id="password_error" class="left__error">@Messages("setup.registration.error.password")</span>
                    <div class="clear"></div>
                    <label class="left__label" >@Messages("setup.registration.repeatpassword")</label>
                    <input type="password" class="left__input" type="text" name="repeatpassword"
                    placeholder="@Messages("setup.registration.repeatpasswordplaceholder")"/>
                    <span id="repeatpassword_error" class="left__error">@Messages("setup.registration.error" +
                            ".passwordnotsame")</span>
                    <div class="clear"></div>
                    <input class="left__terms-input" type="checkbox" name="terms" value="termsaccepted"
                    data-validate="agreement"/>
                    <label class="left__terms-label">
                        <span>@Messages("setup.registration.terms")</span>
                        <a href="">@Html(Messages("setup.registration.termslink"))</a>
                    </label>
                    <span id="terms_error" class="left__error">@Html(Messages("setup.registration.error.terms"))
                    </span>
                </form>
			</div>
			<div id="rightContainer" class="right">
                <h2><input class="radio-btn"  type="radio" name="registered" value="already"/><label class="label-register">@Messages("setup.registration.already")</label></h2>
				<p>@Messages("setup.registration.ifalreadyregistered")</p>
			</div>
            <div class="buttoncontainer clear">
                <button type="commit" form="registration_form" class="button buttoncontainer__next-button">
                    @Messages("setup.registration.next")
                </button>
            </div>
		</div>
		<footer>
			<span>@Html(Messages("setup.footer.copyright"))</span><span class="dot">&middot;</span>
			<a href="">@Messages("setup.footer.privacy")</a><span class="dot">&middot;</span>
			<a href="http://yetu.com/imprint/">@Messages("setup.footer.imprint")</a><span class="dot">&middot;</span>
			<a href="">@Html(Messages("setup.footer.terms"))</a>
		</footer>
        <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/validate.min.js")"></script>
        <script type="text/javascript" src="@controllers.routes.Assets.at("javascripts/registration-validation.js")">
        </script>
	</body>
</html>
