
.full{
    display: block;
    padding: 40px;
}
.full__container{
    width: 995px;
    text-align: center;
    padding-left: 300px;
}
.full__icon{
    padding: 10px;
    width: 40px;
    height: 40px;
    float:left;
    border:none;
}
.full__content{
    width: 450px;
    margin-left: 20px;
}
.full__headline{
    font-size: 25px;
}
.full__button{
    width: 100px;
    margin: 40px auto;
    padding: 10px 20px;
    display: block;
    clear: both;
}