.login__below-form-left{
    float: left;
    width: auto;
}
.login__below-form-right{
    width: auto;
    float: right;
}
.login__below-form-right p{
    margin: 0;
}
.normal__input{
    width: 248px;
    padding-left: 40px;
}

.input__label-icon{
    height: 56px;
    position: relative;
    width: 20px;
    margin-top: -51px;
    z-index: 1;
    margin-left: 10px;
}

