.box{
    height: 465px;
}

.content{
    height: 580px;
}

.password__info{
    width: 300px;
    display: block;
    margin-top: 25px;
    margin-bottom: 15px;
}

.page-header{
    margin-bottom: 34px;
}

.password__info-reset{
    margin-top: 0px;
}