h1{
    font-size: 30px;
    font-family: source_sans_proregular, 'Helvetica Neue', Arial;
}

.content {
    height: 560px;
    font-size: 16px;
    font-family: source_sans_prolight, 'Helvetica Neue', Arial;
    background: -webkit-linear-gradient(to bottom left, #ededed , #f0f0f0); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(to bottom left, #ededed , #f0f0f0); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(to bottom left, #ededed , #f0f0f0); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom left, #ededed , #f0f0f0)
}
.box{
    width: 300px;
    height: 450px;
    padding: 25px 50px;
    margin: 30px auto;
    position: relative;
    box-shadow: 1px 1px 5px #666;
    background: #ededed;
}

.help-icon, .help-block{
    display:none;
}

.help-inline{
    position: absolute;
    top: 14px;
    left: 12px;
    color: #FF0000;
}

/*classes defined by input field template*/
/*label for input field*/
.control-label{
    display:none;
}
/*container around input field and help-inline/help-block*/
.controls{
    width: 280px;
}

.normal__input{
    width: 280px;
    height: 18px;
    padding: 15px 10px 15px 10px;
    box-sizing: content-box;
    font-family: source_sans_prolight, 'Helvetica Neue', Arial;
    font-size: 16px;
    color: #999;
}

.control-group{
    margin-bottom: 15px;
}

.inputWrapper {
    position: relative;
}

.alert-error, .alert-info{
    margin-bottom: 15px;
}

.alert-error{
    color: #FF0000;
}

.normal__button{
    padding: 10px 0;
    width: 100%;
    margin-top: 20px;
}

fieldset{
    padding: 0;
    margin: 0;
}

.logo{
    width: 50px;
    height: 50px;
    top: 25px;
    right: 50px;
}

.controls {
    position: relative;
}

.page-header {
    margin-bottom: 84px;
}