.password__cancel{
    text-align: right;
    width: 100%;
    display: block;
}

.box{
    height: 465px;
}

.content{
    height: 580px;
}

.password__info{
    width: 300px;
    display: block;
    margin-top: 25px;
    margin-bottom: 15px;
}