/*LEFT CONTENT*/
.left{
    margin-top: 37.5px;
}
.left__content-download{
    display: none;
    width: 270px;
    margin-left: 40px;
    height: 45px;
    padding: 15px 40px;
}

.left__content-faq {
    display: block;
    color: rgb(0, 152, 72);
    text-decoration: none;
    font-size: 18px;
    margin-top: 62.5px;
    margin-left: 0px;
}

.left__content-info{
    width: 120%;
    padding: 15px;
    border: solid 1px #949494;
    box-shadow: 2px 3px 2px #949494;
    margin-top: 60px;
    z-index: 2;
}

.left__content-description{
    margin-top: 30px;
    margin-bottom: 67.5px;
}

.left__content-description-label{
    font-weight: bold;
}

.left__content-info-icon{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    display: block;
}
.left__content-info-text{
    width: 90%;
    margin: 0;
    height: 50px;
    line-height: 25px;
    vertical-align: middle;
}
/*RIGHT CONTENT*/
.right__gateway-img{
    width: 450px;
    height: 365px;
    top: 0;
    left: 0;
    position: absolute;
}
.right__gateway-container{
    width: 450px;
    height: 365px;
    margin-top: -37.5px;
    padding: 0px;
    position: relative;
}

.right__gateway-text{
    padding-left: 50px;
    padding-right: 40px;
    font-size: 16px;
    margin:0;
    position: absolute;
    top: 230px;
}

.right__gateway-icon{
    width: 30px;
    height: 20px;
    position: absolute;
    top: 223px;
    left: 207px;
}
/*FULL CONTENT*/
.full__download{
    color: #009900;
    display: none;
}

.full__instructions{
    margin: 45px auto;
    width: 600px;
    height: 200px;
}

/*MAIN STUFF*/
.smallbuttonmargin{
    margin-bottom: 20px;
}

.notopmargin{
    margin-top: 0;
}

.nobottommargin{
    margin-bottom: 0;
}

#or{
    visibility: hidden;
}