/*LEFT CONTENT*/
.left{
    margin-top: 15px;
}
.left__content-download{
    display: none;
    width: 270px;
    margin-left: 40px;
    height: 45px;
    padding: 15px 40px;
}

.left__content-faq {
    display: block;
    color: rgb(0, 152, 72);
    text-decoration: none;
    font-size: 18px;
    margin-top: 62.5px;
    margin-left: 0px;
}

.left__content-info{
    width: 345px;
    height: 60px;
    padding: 15px;
    border: solid 1px #949494;
    box-shadow: 2px 3px 2px #949494;
    margin-top: 40px;
    z-index: 2;
    font-size: 16px;
    background: white;
}

.left__content-link{
    font-size: 25px;
    margin-top: 40px;
    display: block;
}

.left__content-description{
    margin-top: 30px;
    margin-bottom: 67.5px;
}

.left__OS{
    font-weight: bold;
}

.left__content-info-icon{
    width: 40px;
    height: 60px;
    float: left;
    margin-right: 10px;
    display: block;
    vertical-align: middle;
}
.left__content-info-text{
    margin: 0;
    height: 50px;
    line-height: 20px;
    vertical-align: middle;
    margin-left: 55px;
}
#left__download_not_available{
    width: 500px;
}
#left__download_not_available a{
    text-decoration: none;
    color: #009900;
}
#left__download_not_available a:hover, #left__download_not_available a:visited {
    color: #009900;
}
/*RIGHT CONTENT*/
.right__connect-img{
    width: 450px;
    height: 339px;
    top: 0;
    left: 0;
    position: absolute;
}
.right__gateway-container{
    width: 450px;
    height: 339px;
    margin-top: -15px;
    padding: 0px;
    position: relative;
    display:none;
}

.right__gateway-text{
    padding-left: 50px;
    padding-right: 40px;
    font-size: 16px;
    margin:0;
    position: absolute;
    top: 230px;
}

.right__gateway-icon{
    width: 30px;
    height: 20px;
    position: absolute;
    top: 223px;
    left: 207px;
}


#right__download_not_available{
    width: 480px;
    height: 339px;
    padding-top: 15px;
}
.right__gateway-img{
    width: 200px;
    height: 300px;
    position: relative;
    float:right;
}

/*FULL CONTENT*/
.full__description{
    font-family: source_sans_prolight, 'Helvetica Neue', Arial;
    margin: 5px 50px 10px 50px;
    font-size: 25px;
    line-height: 35px;
}
.full__download{
    color: #009900;
    display: block;
    font-family: source_sans_proregular, 'Helvetica Neue', Arial;
    margin: 5px 50px 10px 50px;
}
.full__instructions{
    margin-top: 30px;
    padding: 0 62.5px;
    width: 880px;
    text-align: left;
}
.full__step{
    width: 280px;
    padding: 20px;
}
.full__steps-headline, .full__steps-desc{
    padding: 0 5px;
}
.full__steps-headline {
    margin: 15px 0 0 0;
}
.full__steps-headline {
    margin-top: 10px;
}
.full__steps-img{
    width: 280px;
}
.full__step1{
    padding-left:0;
    float:left;
}
.full__step2{
    margin-left: 280px;
}
.full__step3{
    padding-right:0;
    float:right;
}


/*MAIN STUFF*/
.smallbuttonmargin{
    margin-bottom: 20px;
}

.notopmargin{
    margin-top: 0;
}

.nobottommargin{
    margin-bottom: 0;
}

#or{
    visibility: hidden;
}