header{
	margin: 0 auto;
	width: 995px;
	height: 100px;
	display: flex;
}
.headline{
    padding: 15px 0;
}
.headline__simple{
    line-height: 100px;
}

.content{
	margin: 0 auto;
	background: #ededed;
    padding: 35px 0;
    height: 480px;
}
.content__full{
    height: 585px;
}
.content__download_not_available{
    height: 590px;
}

.content > .steps{
    height: 30px;
	margin: 0 auto 50px auto;
}

.content__main{
    width: 995px;
    margin: auto;
}

.left{
	float: left;
	width: 485px;
}

.divider {
    display: inline-block;
    width: 1px;
    background-color: #B4B4B4;
    height: 66%;
    float: left;
    margin-top: 70px;
}

.right{
    float: left;
	margin-left: 20px;
    width: 468px;
}

.full{
	display: none;
	margin: 0 auto;
    width: 995px;
    text-align: center;
}

.full__headline{
    margin: 50px 50px 0px 50px;
}

input[type="text"].valid,
input[type="password"].valid {
    background: #E5E5E5 url('../images/verified-01.svg') no-repeat 200% 50%;
    background-size: 70% 70%;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background: #fff;
}
