header{
	margin: 0 auto;
	width: 995px;
	height: 100px;
	display: flex;
}
.headline{
    padding: 15px 0;
}
.headline__simple{
    line-height: 100px;
}

.content{
	margin: 0 auto;
	background: #ededed;
    padding: 35px 0;
    height: 480px;
}
.content__full{
    height: 585px;
}
.content__download_not_available{
    height: 590px;
}

.content > .steps{
    height: 30px;
	margin: 0 auto 50px auto;
}

.content__main{
    width: 995px;
    margin: auto;
}

.left{
	float: left;
	width: 440px;
    margin-left: 20px;
}

.left__content {
    display: none;
}

.right{
	margin-left: 515px;
    width: 400px;
}

.full{
	display: none;
	margin: 0 auto;
    width: 995px;
    text-align: center;
}

.full__headline{
    margin: 50px 50px 0px 50px;
}

.show{
    display:block;
}
.hide{
    display:none;
}
#or.visible{
    visibility:visible;
}

