/*MAIN STUFF*/
.signup_headline{
    font-size: 25px;
    font-weight: bold;
    font-family: source_sans_proregular;
}

.signup_radiobutton, .signup_headline_label{
	line-height: 32px;
	vertical-align: middle;
}
.signup_headline_label.right{
    margin-left: 5px;
}
.signup_radiobutton{
	margin-right: 5px;
}

/*CONTENT*/
.content{
    margin-top: 0;
    width: 100%;
    padding-bottom: 25px;
    height: 575px;
}
.content > .steps {
    margin: 0 auto 0 auto;
}
.content__main{
    margin: 20px auto;
    width: 975px;
    height: 445px;
    padding: 40px 10px 0 10px;
}

form {
    height: 415px;
    position: relative;
}

form .submit {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 150px;
    left: 50%;
    margin-left: -75px;
}

.control-group {
    display: block;
    margin-bottom: 10px;
}

.radioWrapper {
    display: inline-block;
    margin-bottom: 20px;
    cursor: pointer;
}

.radioWrapper input {
    float: left;
    opacity: 0;
}

.right .radioWrapper {
    margin-left: 90px;
}

.radioWrapper input[type='radio']:checked + span {
    background: url("../images/button_selected.svg") 0 center /24px no-repeat;
}
.radioWrapper input[type='radio'] + span {
    background: url("../images/button_not_selected.svg") 0 center /24px no-repeat;
}

.radioWrapper span {
    font-size: 25px;
    padding-left: 34px;
}

.left__link{
    color: #009900;
}

.left__input{
    display: block;
    width: 262px;
    height: 15px;
    padding: 5px 7.5px;
}
.inputWrapper {
    float: left;
    position: relative;
    display: inline-block;
    margin-right: 24px;
}

input::-webkit-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input:-ms-input-placeholder {
    color: #B4B4B4
}

.left__input:focus{
    outline: -webkit-focus-ring-color auto 1px;
}

.right p {
    width: 185px;
    margin: 0 auto 20px auto;
    font-size: 18px;
}

#password2ID:focus{
    outline: -webkit-focus-ring-color auto 1px;
}
.left__fieldsmandatory{
    display: block;
    font-size: 10px;
    text-align: right;
    margin-right: 63px;
    margin-bottom: 5px;
}

#agreementErrorText{
    font-size: 11px;
    left: 166px;
    top: 75px;
    width: 220px;
}

/*classes defined by input field template*/
/*label for input field*/
.control-label{
    float: left;
    display: block;
    line-height: 29px;
    vertical-align: middle;
    font-size: 18px;
    width: 134px;
    text-align: right;
    padding: 0 10px 0 0;
}

/*checkbox agreement*/
#agreementCheckBoxID label{
    font-size: 13px;
    display: block;
    line-height: 18px;
    text-align: left;
    margin-right: 44px;
    float: right;
    width: 266px;
}

#agreementCheckBoxID .inputWrapper {
    margin: 0;
}

#agreementCheckBoxID input{
    float:left;
    display:block;
    margin-left: 144px;
}

.radio__registered{
    margin-left: 359px;
}

#agreementCheckBoxID .help-icon{
    display:none;
}

/*info*/
.help-block{
    background: white;
    padding: 5px 5px;
    font-size: 10px;
    font-style: italic;
    width: 210px;
    box-shadow: rgba(0, 0, 0, 0.27) 1px 1px 5px 0px;
    z-index: 10;
    text-align: left;
    position: absolute;
    top: 0;
    left: 20px;
}
/*erros*/
.help-inline{
    position: absolute;
    top: 6px;
    left: 8px;
    color: #FF0000;
    font-size: 12px;
    z-index: 5;
}

.help-inline__bottom{
    position: relative;
    margin-top: -3px;
    margin-bottom: 13px;
}

.help-icon{
    height: 14px;
    width: 12px;
    border: solid 1px #B4B4B4;
    font-size: 13px;
    vertical-align: middle;
    background: #ffffff;
    cursor: default;
    float: left;
    position: relative;
    text-align: center;
}


    /* BUTTON CONTAINER */
.buttoncontainer{
    padding: 10px 390px;
    margin-top: 10px;
    margin-left: -35px;
    width: 185px;
}
.buttoncontainer__next-button{
    width: 150px;
    height: 50px;
}

.failure-password{
    border: solid 1px #FF0000;
    color: #FF0000;
}

#passwordStrength {
    height:10px;
    margin-bottom:10px;
}

#passwordStrength.strength-0 {
    width:10%;
    background:darkred;
}

#passwordStrength.strength-1 {
    width:20%;
    background:orangered;
}

#passwordStrength.strength-2 {
    width:40%;
    background:orange;
}

#passwordStrength.strength-3 {
    width:60%;
    background:gold;
}

#passwordStrength.strength-4 {
    width:100%;
    background:forestgreen;
}

input[type="text"],
input[type="password"] {

}
